<mat-nav-list >
    <a mat-list-item routerLink="/signup" (click)="onClose()">
        <mat-icon>face</mat-icon>
        <span class="nav-items">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()">
        <mat-icon>input</mat-icon>
        <span class="nav-items">Login</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="onClose()">
        <mat-icon>fitness_center</mat-icon>
        <span class="nav-items">Training</span>
    </a>
    <mat-list-item>
        <button mat-icon-button (click)="onLogOut()">
            <mat-icon>eject</mat-icon>
            <span class="nav-items">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list> 