.mat-sidenav-container , .mat-sidenav , .mat-sidenav-content {
    height: 100%;
}

.mat-sidenav {
    width: 250px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgrey;
}

.navigation-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-items {
    display: inline-block;
    padding: 6px;
}