<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <Button mat-icon-button (click)="onToggleSideNav()">
            <mat-icon>menu</mat-icon>
        </Button>
    </div>
    <div a routerLink="/">Logo</div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap=10px class="navigation-links">
            <li *ngIf="!authStatus"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="!authStatus"><a routerLink="/login">Login</a></li>
            <li *ngIf="authStatus"><a routerLink="/training">Training</a></li>
            <li *ngIf="authStatus"><a>Logout</a></li>
        </ul>
    </div>
</mat-toolbar>